.game-container{

  width: 500px;
  height: 730px;
  position: absolute;

}


.sky{
  background-color:#cdfffc;
  width: 500px;
  height: 580px;
  position: absolute;
  z-index: -2;
}


.ground{

  background-color: #c5a880;
  width: 500px;
  height: 150px;
  position: absolute;
  top: 580px;
}


.bird{

   /* background-color: yellow; */
  position: absolute;
  height: 60px;
  width: 50px;

}


.obstacle{

  background-color: green;
  width: 60px;
  height: 300px;
  position: absolute;
  z-index: -1;
}
